:root {
    --pink: #FBF7F4;
    --actualPink: rgb(251, 244, 249);
    --lightBlue: #F2FFFD;
    --mediumBlue: #8DB6BA;
    --skyBlue: rgb(153, 226, 248);
    --darkBlue: #043E58;
    --sunOrange: #F8B72B;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

nav {
    background-color: var(--pink);
    position: relative;
    height: 35px;
    padding: 0;
    margin: 0;
}

.logo {
    width: 90px;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 70px;
    z-index: 10;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    .logo {
        left: 20px;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        position: absolute;
    }
}

@media screen and (max-width: 595px) {
    .logo {
        left: 20px;
        width: 60px;
    }
}

.mini-logo {
    width: 60px;
    left: 5px;
}

.nav-items {
    position: fixed;
    right: 40px;
    z-index: 10;
    padding-top: 10px;
    width: 70px;
}

.nav-items a {
    height: 22px;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 100;
    display: block;
    text-decoration: none;
    color: black;
}

.nav-items a:hover {
    color: var(--darkBlue);
    font-weight: 800;
}

.active {
    font-weight: 800 !important;
}






/*   M O B I L E   N A V   */

#hamburger {
    visibility: hidden;
    width: 25px;
    position: fixed;
    right: 20px;
    padding-top: 10px;
    z-index: 15;
}

#exit {
    visibility: hidden;
    width: 25px;
    position: fixed;
    right: 20px;
    padding-top: 10px;
    z-index: 55;
}

@media screen and (max-width: 700px) {
    .nav-items a {
        display: none;
    }
    #hamburger {
        visibility: visible;
    }
}

#mobile-nav {
    display: none;
    z-index: 25;
    background-color: var(--lightBlue);
    width: 100vw;
    transition: 1s;
    height: 110vh;
    position: fixed;
    padding-top: 30%;
    top: 0;
}


#mobile-nav a {
    color: black;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}








/*   W E L C O M E   S E C T I O N   */

#welcome-section {
    height: 100vh;
    background-color: var(--lightBlue);
    position: relative;
    transition: 1s;
}

@media screen and (max-width: 800px) {
    #welcome-section {
       height: 700px;
    }
}

@media screen and (max-width: 700px) {
    #welcome-section {
       height: 650px;
    }
}



@media screen and (max-width: 530px) {
    #welcome-section {
       height: 500px;
    }
}

@media screen and (max-width: 490px) {
    #welcome-section {
       height: 600px;
    }
}

#welcome-words {
    position: absolute;
    top: 25%;
    left: 70px;
    transition: .5s;
}

@media screen and (max-width: 700px) {
    #welcome-words {
       left: 20px;
    }
}

@media screen and (max-width: 595px) {
    #welcome-words {
       top: 60px;
    }
}

@media screen and (max-width: 490px) {
    #welcome-words {
        top: 400px;
        background: white;
        padding: 20px;
        height: 300px;
        left: 10%;
     }
}



#welcome-section h1 {
    font-family: 'Cormorant Garamond', serif;
    display: block;
    font-size: 8.5vw;
    margin: 0;
}


@media screen and (min-width: 1200px){
    #welcome-section h1 {
        display: inline;
    }
}

@media screen and (max-width: 490px){
    #welcome-section h1 {
        display: inline;

    }
}




#welcome-section p {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 5px 0;
    display: inline;
}

@media screen and (max-width: 1120px) {
    #welcome-section p:last-child {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    #third-p {
        display: block !important;
    }
}


@media screen and (max-width: 600px) {
    #welcome-section p:first-child  {
        display: block;
    }
    #welcome-section p {
        display: inline;
    }
}

.medium {
    font-weight: 600;
}

#portrait {
    width: 50%;
    max-width: 600px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1325px) {
    #portrait {
        width: 60%;
    }
}
@media screen and (max-width: 490px) {
    #portrait {
        width: 100%;
    }
}

#edden {
    position: absolute;
    right: -25px;
    top: 80%;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
    color: var(--mediumBlue);
    font-size: 12px;
}

.scrollDown {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    transition: 1s;
}

@media screen and (max-width: 1270px) {
    .scrollDown {
       opacity: 0;
    }
}

.scrollDown:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
}


.scrollDown:after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 50px;
    background: black;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    45% {
        transform-origin: top;
        transform: scaleY(1);
    }
    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

.scrollDown-dissapear {
    opacity: 0;
}









/*     S K I L L S   S E C T I O N      */

#skills-section {
    padding-top: 225px;
    padding-bottom: 130px;
    z-index: 20;
    width: 100%;
    transition: 1s;
}

@media screen and (max-width: 910px) {
    #skills-section {
        padding-top: 10px;
    }
}


@media screen and (max-width: 490px) {
    #skills-section {
        padding-top: 100px;
    }
}

@media screen and (max-width: 375px) {
    #skills-section {
        padding-top: 10px;
    }
}



#skills-row {
    margin: 0 auto;
}

.skill-list {
    margin: 0 auto;
    border-radius: 10px;
}

#skills-section li{
    list-style: none;
    color: var(--mediumBlue);
}

h3 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 19px;
    font-size: 20px;
    padding-bottom: 10px;
}

#skill-hdr {
    transform: rotate(270deg) translateX(-70px);
} 

@media screen and (max-width: 975px) {
    #skill-hdr {
        transform: rotate(0deg);
    }
}









/*   P R O J E C T   S E C T I O N  */

#project-section {
    padding: 0 15px;
}


.project {
    padding: 0 15px 80px 15px;
}

.project img {
    width: 90%;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.2em;
}

.description {
    width: 90%;
}

.tech-used {
    padding: 0;

}

.tech-used p {
    margin: 0;
    color: var(--mediumBlue);
}

.button-box button {
    border: 1px solid var(--mediumBlue);
    padding-left: 15px;
    padding-right: 15px;
}

.button-box a {
    color: black;
    text-decoration: none;
}

.button-box i {
    font-size: 17px;
}

.button-box button:hover {
    border: 1px solid var(--darkBlue);
    background-color: var(--lightBlue);
}




#bio-contact-section {
    padding-top: 40px;
    height: 800px;
}

#bio {
    width: 90%;
}


.contact-section {
    margin: 20px 0;
    background-color: var(--pink);
}

.contact-section > div {
    display: block;
    width: 300px;
    margin: 100px auto;
}

.contact-section p {
    width: 275px;
}

@media screen and (max-width: 775px) {
    .contact-section p {
        width: 100%;
    }
}





#email {
    padding-bottom: 20px;
}


#thanks {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: none;
    text-align: right;
}

@media screen and (max-width: 1000px) and (min-width: 775px) {
    #thanks{
        text-align: left;
    }
}

@media screen and (max-width: 775px) {
    #thanks {
        text-align: center;
    }
}

footer {
    padding: 150px 0 25px 0;
    display: block;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    footer {
        padding:100px 0 25px 0;
    }
}

