:root {
    --pink: #FBF7F4;
    --lightBlue: #F2FFFD;
    --mediumBlue: #8DB6BA;
    --skyBlue: rgb(153, 226, 248);
    --darkBlue: #043E58;
    --sunOrange: #F8B72B;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

nav {
    background-color: var(--pink);
    position: relative;
    height: 35px;
    padding: 0;
    margin: 0;
}

.logo {
    width: 90px;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 70px;
    z-index: 10;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    .logo {
        left: 20px;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        position: absolute;
    }
}

@media screen and (max-width: 595px) {
    .logo {
        left: 20px;
        width: 60px;
    }
}

.mini-logo {
    width: 60px;
    left: 5px;
}

.nav-items {
    position: fixed;
    right: 40px;
    z-index: 10;
    padding-top: 10px;
    width: 70px;
}

.nav-items a {
    height: 22px;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 100;
    display: block;
    text-decoration: none;
    color: black;
}

.nav-items a:hover {
    color: var(--darkBlue);
    font-weight: 800;
}

.active {
    font-weight: 800 !important;
}






/*   M O B I L E   N A V   */

.hamburger {
    display: none;
    width: 25px;
    position: fixed;
    right: 20px;
    padding-top: 10px;
    z-index: 15;
}

@media screen and (max-width: 700px) {
    .nav-items a {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

.mobile-nav {
    z-index: 15;
    background-color: var(--lightBlue);
    width: 100vw;
    height: 0;
    transition: 1s;
}

.open-mobile-nav {
    height: 100%;
}

.mobile-nav-items {
    width: 80px;
    margin: 0 auto;
}

.mobile-nav a {
    color: black;
    padding: 10px 0;
    font-size: 20px;
}








/*   W E L C O M E   S E C T I O N   */

#welcome-section {
    height: 100vh;
    background-color: var(--lightBlue);
    position: relative;
    transition: 1s;
}

@media screen and (max-width: 800px) {
    #welcome-section {
       height: 700px;
    }
}

@media screen and (max-width: 700px) {
    #welcome-section {
       height: 550px;
    }
}

@media screen and (max-width: 570px) {
    #welcome-section {
       height: 500px;
    }
}

@media screen and (max-width: 490px) {
    #welcome-section {
       height: 600px;
    }
}

#welcome-words {
    position: absolute;
    top: 25%;
    left: 70px;
    transition: .5s;
}

@media screen and (max-width: 700px) {
    #welcome-words {
       left: 20px;
    }
}

@media screen and (max-width: 595px) {
    #welcome-words {
       top: 60px;
    }
}

@media screen and (max-width: 490px) {
    #welcome-words {
        top: 375px;
        background: white;
        left: 0;
        padding: 20px;
        margin: 0 auto;
     }
}


#welcome-section h1 {
    font-family: 'Cormorant Garamond', serif;
    display: block;
    font-size: 8.5vw;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    #welcome-section h1 {
        display: inline;
    }
}

#welcome-section p {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 5px 0;
    display: inline;
}

@media screen and (max-width: 1120px) {
    #welcome-section p:last-child {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    #third-p {
        display: block !important;
    }
}


@media screen and (max-width: 600px) {
    #welcome-section p:first-child  {
        display: block;
    }
    #welcome-section p {
        display: inline;
    }
}

.medium {
    font-weight: 600;
}

#portrait {
    width: 50%;
    max-width: 600px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1325px) {
    #portrait {
        width: 60%;
    }
}
@media screen and (max-width: 490px) {
    #portrait {
        width: 100%;
    }
}

.scrollDown {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    transition: 1s;
}

@media screen and (max-width: 1270px) {
    .scrollDown {
       opacity: 0;
    }
}

.scrollDown:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
}


.scrollDown:after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 50px;
    background: black;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    45% {
        transform-origin: top;
        transform: scaleY(1);
    }
    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

.scrollDown-dissapear {
    opacity: 0;
}









/*     S K I L L S   S E C T I O N      */

#skills-section {
    padding-top: 200px;
    padding-bottom: 150px;
    z-index: 20;
    width: 100%;
    transition: 1s;
}

@media screen and (max-width: 910px) {
    #skills-section {
        padding-top: 10px;
    }
}



#skills-row {
    margin: 0 auto;
}

.skill-list {
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

#skills-section li{
    list-style: none;
    color: grey;
}

h3 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 19px;
}

#skill-hdr {
    transform: rotate(270deg) translateX(-70px);
} 

@media screen and (max-width: 975px) {
    #skill-hdr {
        transform: rotate(0deg);
    }
}

